# NLP Tutorial: Named Entity Recognition (NER)

In [1]:
import spacy

nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [6]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion")

for ent in doc.ents:
    print(ent.text,  "|", ent.label_, "|", spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

In [7]:
from spacy import displacy

displacy.render(doc, style="ent")

<b> List down all the entities </b>

In [10]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

List of entities are also documented on this page: https://spacy.io/models/en

In [17]:
doc = nlp("Michael Bloomberg founded Bloomberg in 1982")

for ent in doc.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg | PERSON | People, including fictional
1982 | DATE | Absolute or relative dates or periods

In [18]:
displacy.render(doc, style="ent")

Above it made a mistake in identifying Bloomberg the company. Let's try hugging face for this now.

https://huggingface.co/dslim/bert-base-NER?text=Michael+Bloomberg+founded+Bloomberg+in+1982

Here also go through 3 sample examples for NER

In [19]:
doc = nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", ent.start_char, "|", ent.end_char)

Tesla Inc  |  ORG  |  0 | 9
Twitter Inc  |  ORG  |  30 | 41
$45 billion  |  MONEY  |  46 | 57

<b> Setting custom entities </b>

In [20]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  PRODUCT
$45 billion  |  MONEY

In [21]:
s = doc[2:5]
s

going to acquire

In [22]:
type(s)

spacy.tokens.span.Span

In [23]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 5, 6, label="ORG")

doc.set_ents([s1, s2], default="unmodified")

In [24]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY

# Named Entity Recognition (NER): Exercises

Excersie: 1

Extract all the Geographical (cities, Countries, states) names from a given text

In [25]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [30]:
for ent in doc.ents:   
    print(ent, "|", ent.label_, "|", spacy.explain(ent.label_))

Kiran | ORG | Companies, agencies, institutions, etc.
India | GPE | Countries, cities, states
Google | ORG | Companies, agencies, institutions, etc.
Google | ORG | Companies, agencies, institutions, etc.
Delhi | GPE | Countries, cities, states
Chaat | ORG | Companies, agencies, institutions, etc.
Gujarat | GPE | Countries, cities, states
Dal Dhokli | PERSON | People, including fictional
Tamilnadu | GPE | Countries, cities, states
Pongal | GPE | Countries, cities, states
Andhrapradesh | GPE | Countries, cities, states
Biryani | PERSON | People, including fictional
Assam | GPE | Countries, cities, states
Papaya Khar | PERSON | People, including fictional
Bihar | GPE | Countries, cities, states
Litti Chowkha | PERSON | People, including fictional

In [33]:
location = []
for ent in doc.ents:
    if ent.label_ == "GPE":
        location.append(ent)

location

[India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar]

In [34]:
print(len(location))

8

Expected Output:

Geographical location Names: [India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]

Count: 7

<b> Excersie: 2

Extract all the birth dates of cricketers in the given Text</b>

In [37]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [38]:
for ent in doc.ents:
    print(ent, ent.label_)

Sachin Tendulkar PERSON
24 April 1973 DATE
Virat Kholi LOC
5 November 1988 DATE
Dhoni PERSON
7 July 1981 DATE
Ricky PERSON
19 December 1974 DATE

In [40]:
date = []

for ent in doc.ents:
    if ent.label_ == "DATE":
        date.append(ent)

date

[24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

In [41]:
print(len(date))

4

Expected Output:

All Birth Dates: [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

Count: 4